/* @font-face {  
    font-family: 'msyh';
    src: url('msyh.ttf'); 
    font-weight: normal;  
    font-style: normal;  
  }
  @font-face {  
    font-family: 'msyhbd';
    src: url('msyhbd.ttf'); 
    font-weight: normal;  
    font-style: normal;  
  } */